@import "../../index.scss";

$sidebar-width: 356px;
$profile-icon-size: 32px;
$notification-dd-height: 556px;
$notification-dd-width: 376px;

.header-wrapper {
    height: $header-height;
}

.header-container {
    box-shadow: 0 1px 1px var(--clr-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--clr-layer-1);
}

.header {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        height: calc(#{$header-height} / 1.75);
        display: flex;
        align-items: center;
    }

    .logo {
        height: 100%;
        font-weight: 500;
        filter: var(--logo-filter, none);

        span {
            color: var(--clr-header-background);
            font-size: 24px;
        }

        &:hover {
            opacity: .7;
        }
    }

    .search-bar {
        background: rgba(var(--clr-secondary-values), 0.06);
        width: $sidebar-width;
        border-radius: 92px;
        display: flex;
        align-items: center;
        color: var(--clr-text);

        input {
            // padding: 12px 16px;
            font-size: 0.9rem;
            caret-color: var(--clr-primary);
            width: 90%;
        }

        span {
            display: block;
            background: rgba(var(--clr-secondary-values), 0.12);
            margin: -3px 0;
            width: 1px;
            height: 28px;
        }

        button {
            padding: 8px 12px;
            border-radius: 0 92px 92px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(var(--clr-secondary-values), 0.5);
            cursor: pointer;
            background: none;
            font-size: 1rem;

            &:hover {
                background: rgba(var(--clr-secondary-values), 0.03);
            }
        }
    }

    .buttons {
        display: flex;
        gap: 16px;
        font-weight: 600;
        font-size: 16px;
        max-width: 25%;
        flex: 1;

        span {
            transition: box-shadow 0.2s ease-out;
            cursor: pointer;
            user-select: none;

            &:hover {
                box-shadow: 0 2px 0 rgba(var(--clr-shadow-values), 0.5);
            }
        }

        .login {
            background: radial-gradient(100% 1171.16% at 100% 48.89%, #01CCF4 0%, #9F24FF 100%);
            border-width: 0;

            &:hover {
                background: radial-gradient(100% 1171.16% at 100% 48.89%, #9F24FF 0%, #01CCF4 100%);
            }
        }
    }

    .icons {
        display: flex;
        gap: 24px;
        font-weight: 600;
        font-size: 1.2rem;
        max-width: 20%;
        flex: 1;
        position: relative;

        i {
            color: rgba(var(--clr-secondary-values), 0.85);
        }

        .icon {
            cursor: pointer;
        }

        .profile-icon {
            width: $profile-icon-size;
            height: $profile-icon-size;
        }
    }

    .options-dropdown {
        position: absolute;
        right: 0;
        z-index: 11;
        transform: translateY(110%);
        background-color: #17191D;
        border: 1px solid #595959;
        font-size: 1.2rem;

        &>* {
            display: flex;
            align-items: center;
            gap: 25px;
            // padding: 8px 16px;
            padding: 1.2rem;
        }

        i {
            width: 14px;
            // margin-right: 25px;
        }
    }
}

.inbox {
    position: relative;
    display: flex;
    align-items: center;

	.inbox-wrap {
		position: relative;
		display: flex;
	}

    .dot {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
		border: 1px solid var(--clr-layer-1);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        // transform: translate(-0px, 0px);
    }

    .notif-spinner {
        --circle-size: 12px;
        --wrapper-padding: 8px;
    }
}

.inbox {

    .inbox-card {
        position: absolute;
        right: 0;
        top: 130%;
        z-index: 12;
        background-color: black;
        border: 1px solid var(--clr-border);
        width: $notification-dd-width;
        height: $notification-dd-height;
        overflow: auto;

        .tags-row {
            gap: 12px;
            padding: 0 0 8px 16px;

            .tag {
                border-radius: 24px;
                cursor: pointer;
                font-weight: normal;
                padding: 4px 12px;
                background-color: #272727;
            }
        }

        h1 {
            font-size: 1.3rem;
            font-weight: 600;
            padding: 8px 0 8px 16px;
        }

        .notif-container {
            display: flex;
            padding: 10px 16px;

            &.unread {
                background-color: rgba(var(--clr-secondary-values), 0.05);
            }

            .rounded-photo {
                width: 48px;
                height: 48px;
                flex-shrink: 0;
            }

            .content {
                padding: 0 12px;
                font-size: 0.8rem;
                line-height: 1.12rem;
                font-weight: 400;
                width: 100%;

                h4 {
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    font-size: 0.75rem;
                    color: rgba(var(--clr-secondary-values), 0.75);
                }
            }

            .video-container {
                background-color: #595959;
                max-width: 42px;
                height: 56px;
                flex: 1 0 42px;
                align-self: center;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .delete-btn {
                margin-left: 20px;
                align-self: center;
                font-size: 1rem;
                cursor: default;

                i {
                    color: rgba(var(--clr-shadow-values), 0.5);
                }
            }
        }
    }
}