// $cards-container-width: 700px;
$cards-container-width: 100%;

.homepage-container {
	display: flex;
	justify-content: space-between;
	// gap: 5vw;
	gap: 12px;
	min-height: 100%;
}

.content-container {
	display: flex;
	flex-direction: column;
	// width: $cards-container-width;
	flex: 1
}
