.avatar-bg {
    background-color: #515151;
    border-radius: 50%;
    // margin: auto;
    overflow: hidden;
}
.video-thumbnail-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515151;
    border-radius: 5px;
    // margin: auto;
    overflow: hidden;
}