
.apply-page-container {
    height: calc(100vh - 60px);
    width: 100vw;
    background-image: url("../../../assets/background-pic-1.png");
    background-size: cover;
    background-position: center;
}