
.wrap {
    span {
        color: #93948F;
        font-size: 1rem;
        margin-top: 5px;
        // padding: 0 1.5rem;
    }
}
.iconWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}